.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 600px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.link {
  width: 200px;
  list-style: none;
  font-weight: bolder;
  text-align: center;
  opacity: 1;
  transition: all 0.3s ease;
  font-size: 1.5rem;
}

.link:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
.positive {
  border-bottom: 5px solid green;
}

.neutral {
  border-bottom: 5px solid yellow;
}

.negative {
  border-bottom: 5px solid red;
}
